@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}


body, html {
    background-color: rgba(103, 167, 240, 0.767);
}

header {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color:  black;
    border-top: 2px solid rgba(255, 255, 255, 0.322);
}

menu > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.205);
}

main { 
    width: 90vw;
    background-color: rgba(245, 246, 250, 0.925);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-align: 20px;
}